Build/
tags/
.DS_Store
*.pyc
*.db

/BaseTools/Source/Python/GenFds/GenFdsGlobalVariable.pyc
/BaseTools/Source/Python/GenFds/Fd.pyc
/BaseTools/Source/Python/GenFds/Region.pyc
/BaseTools/Source/Python/GenFds/FdfParser.pyc
/BaseTools/Source/Python/GenFds/__init__.pyc
/BaseTools/Source/Python/AutoGen/GenDepex.pyc
/BaseTools/Source/Python/AutoGen/BuildEngine.pyc
/BaseTools/Source/Python/AutoGen/GenMake.pyc
/BaseTools/Source/Python/AutoGen/IdfClassObject.pyc
/BaseTools/Source/Python/Common/VariableAttributes.pyc
/BaseTools/Source/Python/Common/RangeExpression.pyc
/BaseTools/Source/Python/AutoGen/ValidCheckingInfoObject.pyc
/BaseTools/Source/Python/AutoGen/GenPcdDb.pyc
/BuildTools/Python27/Lib/distutils/log.pyc
/BuildTools/Python27/Lib/encodings/utf_16.pyc
/BuildTools/Python27/Lib/distutils/debug.pyc
/BuildTools/Python27/Lib/distutils/dep_util.pyc
/BuildTools/Python27/Lib/distutils/spawn.pyc
/BuildTools/Python27/Lib/distutils/errors.pyc
/BuildTools/Python27/Lib/distutils/util.pyc
/BuildTools/Python27/Lib/distutils/__init__.pyc
/BaseTools/Source/Python/AutoGen/UniClassObject.pyc
/BaseTools/Source/Python/AutoGen/StrGather.pyc
/BaseTools/Source/Python/AutoGen/GenC.pyc
/BaseTools/Source/Python/AutoGen/AutoGen.pyc
/BaseTools/Source/Python/AutoGen/__init__.pyc
/BaseTools/Source/Python/Common/BuildVersion.pyc
/BaseTools/Source/Python/Common/Dictionary.pyc
/BaseTools/Source/Python/Common/TargetTxtClassObject.pyc
/BaseTools/Source/Python/Common/ToolDefClassObject.pyc
/BuildTools/Python27/Lib/ctypes/_endian.pyc
/BuildTools/Python27/Lib/ctypes/util.pyc
/BuildTools/Python27/Lib/ctypes/__init__.pyc
/BuildTools/Python27/Lib/uuid.pyc
/BaseTools/Source/Python/CommonDataClass/Exceptions.pyc
/BaseTools/Source/Python/Common/MultipleWorkspace.pyc
/BaseTools/Source/Python/Common/Parsing.pyc
/BaseTools/Source/Python/Common/String.pyc
/BaseTools/Source/Python/CommonDataClass/__init__.pyc
/BaseTools/Source/Python/CommonDataClass/DataClass.pyc
/BaseTools/Source/Python/Common/DataType.pyc
/BaseTools/Source/Python/Common/GlobalData.pyc
/BuildTools/Python27/Lib/logging/__init__.pyc
/BaseTools/Source/Python/Common/BuildToolError.pyc
/BaseTools/Source/Python/Common/EdkLogger.pyc
/BaseTools/Source/Python/Common/Misc.pyc
/BuildTools/Python27/Lib/UserList.pyc
/BuildTools/Python27/Lib/copy.pyc
/BuildTools/Python27/Lib/gettext.pyc
/BuildTools/Python27/Lib/textwrap.pyc
/BuildTools/Python27/Lib/optparse.pyc
/BuildTools/Python27/Lib/struct.pyc
/BuildTools/Python27/Lib/subprocess.pyc
/BuildTools/Python27/Lib/threading.pyc
/BuildTools/Python27/Lib/atexit.pyc
/BuildTools/Python27/Lib/multiprocessing/util.pyc
/BuildTools/Python27/Lib/weakref.pyc
/BuildTools/Python27/Lib/multiprocessing/process.pyc
/BuildTools/Python27/Lib/multiprocessing/__init__.pyc
/BuildTools/Python27/Lib/encodings/ascii.pyc
/BuildTools/Python27/Lib/glob.pyc
/BuildTools/Python27/Lib/StringIO.pyc
/BuildTools/Python27/Lib/collections.pyc
/BuildTools/Python27/Lib/heapq.pyc
/BuildTools/Python27/Lib/keyword.pyc
/BuildTools/Python27/Lib/fnmatch.pyc
/BuildTools/Python27/Lib/shutil.pyc
/BuildTools/Python27/Lib/string.pyc
/BuildTools/Python27/Lib/platform.pyc
/BaseTools/Source/Python/Common/LongFilePathOs.pyc
/BaseTools/Source/Python/Common/LongFilePathOsPath.pyc
/BaseTools/Source/Python/Common/LongFilePathSupport.pyc
/BaseTools/Source/Python/Common/__init__.pyc
/BuildTools/Python27/Lib/encodings/cp950.pyc
/BuildTools/Python27/Lib/functools.pyc
/BaseTools/Source/Python/sitecustomize.pyc
/BuildTools/Python27/Lib/encodings/aliases.pyc
/BuildTools/Python27/Lib/codecs.pyc
/BuildTools/Python27/Lib/encodings/__init__.pyc
/BuildTools/Python27/Lib/locale.pyc
/BuildTools/Python27/Lib/sre_constants.pyc
/BuildTools/Python27/Lib/sre_parse.pyc
/BuildTools/Python27/Lib/re.pyc
/BuildTools/Python27/Lib/sre_compile.pyc
/BuildTools/Python27/Lib/sysconfig.pyc
/BuildTools/Python27/Lib/copy_reg.pyc
/BuildTools/Python27/Lib/traceback.pyc
/BuildTools/Python27/Lib/_weakrefset.pyc
/BuildTools/Python27/Lib/abc.pyc
/BuildTools/Python27/Lib/_abcoll.pyc
/BuildTools/Python27/Lib/UserDict.pyc
/BuildTools/Python27/Lib/linecache.pyc
/BuildTools/Python27/Lib/types.pyc
/BuildTools/Python27/Lib/genericpath.pyc
/BuildTools/Python27/Lib/warnings.pyc
/BuildTools/Python27/Lib/ntpath.pyc
/BuildTools/Python27/Lib/stat.pyc
/BuildTools/Python27/Lib/os.pyc
/BuildTools/Python27/Lib/site.pyc
/BuildTools/Python27/Lib/fileinput.pyc
/BuildTools/Python27/Lib/encodings/utf_16_le.pyc
/BuildTools/Python27/Lib/argparse.pyc
/BuildTools/Python27/Lib/encodings/utf_8.pyc
/BuildTools/Python27/Lib/posixpath.pyc
/BuildTools/Python27/Lib/ctypes/wintypes.pyc
/BuildTools/Python27/Lib/socket.pyc
/BaseTools/Source/Python/Table/TableDec.pyc
/BaseTools/Source/Python/Table/TableDsc.pyc
/BaseTools/Source/Python/Table/TableFile.pyc
/BaseTools/Source/Python/Common/Database.pyc
/BaseTools/Source/Python/Table/Table.pyc
/BaseTools/Source/Python/Table/TableDataModel.pyc
/BaseTools/Source/Python/Table/__init__.pyc
/BaseTools/Source/Python/Common/Identification.pyc
/BaseTools/Source/Python/Table/TableInf.pyc
/BaseTools/Source/Python/Common/InfClassObject.pyc
/BaseTools/Source/Python/CommonDataClass/ModuleClass.pyc
/BaseTools/Source/Python/build/BuildReport.pyc
/BaseTools/Source/Python/AutoGen/GenVar.pyc
/BaseTools/Source/Python/AutoGen/InfSectionParser.pyc
/BaseTools/Source/Python/Common/VpdInfoFile.pyc
/BaseTools/Source/Python/GenPatchPcdTable/__init__.pyc
/BaseTools/Source/Python/GenPatchPcdTable/GenPatchPcdTable.pyc
/BaseTools/Source/Python/GenFds/OptRomFileStatement.pyc
/BaseTools/Source/Python/GenFds/ComponentStatement.pyc
/BaseTools/Source/Python/GenFds/OptionRom.pyc
/BaseTools/Source/Python/GenFds/OptRomInfStatement.pyc
/BaseTools/Source/Python/GenFds/CapsuleData.pyc
/BaseTools/Source/Python/GenFds/Vtf.pyc
/BaseTools/Source/Python/GenFds/Capsule.pyc
/BaseTools/Source/Python/GenFds/CompressSection.pyc
/BaseTools/Source/Python/GenFds/DataSection.pyc
/BaseTools/Source/Python/GenFds/UiSection.pyc
/BaseTools/Source/Python/GenFds/VerSection.pyc
/BaseTools/Source/Python/PatchPcdValue/__init__.pyc
/BaseTools/Source/Python/GenFds/DepexSection.pyc
/BaseTools/Source/Python/PatchPcdValue/PatchPcdValue.pyc
/BaseTools/Source/Python/GenFds/FfsInfStatement.pyc
/BaseTools/Source/Python/GenFds/RuleSimpleFile.pyc
/BaseTools/Source/Python/GenFds/EfiSection.pyc
/BaseTools/Source/Python/Workspace/InfBuildData.pyc
/BaseTools/Source/Python/GenFds/RuleComplexFile.pyc
/BaseTools/Source/Python/CommonDataClass/CommonClass.pyc
/BaseTools/Source/Python/Workspace/WorkspaceCommon.pyc
/BaseTools/Source/Python/Workspace/DscBuildData.pyc
/BaseTools/Source/Python/Workspace/BuildClassObject.pyc
/BaseTools/Source/Python/Workspace/DecBuildData.pyc
/BaseTools/Source/Python/Common/Expression.pyc
/BaseTools/Source/Python/Workspace/MetaFileCommentParser.pyc
/BuildTools/Python27/Lib/hashlib.pyc
/BuildTools/Python27/Lib/md5.pyc
/BaseTools/Source/Python/Workspace/MetaFileParser.pyc
/BaseTools/Source/Python/Workspace/MetaFileTable.pyc
/BaseTools/Source/Python/Workspace/MetaDataTable.pyc
/BuildTools/Python27/Lib/sqlite3/dbapi2.pyc
/BuildTools/Python27/Lib/sqlite3/__init__.pyc
/BaseTools/Source/Python/Workspace/WorkspaceDatabase.pyc
/BaseTools/Source/Python/Workspace/__init__.pyc
/BaseTools/Source/Python/GenFds/GenFds.pyc
/BaseTools/Source/Python/GenFds/FvImageSection.pyc
/BaseTools/Source/Python/GenFds/Section.pyc
/BaseTools/Source/Python/GenFds/GuidSection.pyc
/BaseTools/Source/Python/GenFds/Rule.pyc
/BaseTools/Source/Python/GenFds/FfsFileStatement.pyc
/BaseTools/Source/Python/GenFds/AprioriSection.pyc
/BaseTools/Source/Python/GenFds/Ffs.pyc
/BaseTools/Source/Python/GenFds/Fv.pyc
/BaseTools/Source/Python/CommonDataClass/FdfClass.pyc
